@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');


.App {
  margin: 20px auto 10px;
  max-width: 700px;
  border: 1px solid #b69d8a;
  border-radius: 4px;
}

.App .Toggle {
  margin-top: 5px;
  background: none;
  border: none;
}

.App h1 {
  font-family: 'Amatic SC', cursive;
  font-weight: bolder;
  text-align: center;
}

li {
  line-height: 1;
  list-style: none;
}