@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;1,100;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://use.typekit.net/ccf4hze.css');

.App .shape1 {
  width: 320px;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 60%;
}

.App {
  padding: 15px 20px;
  margin: 120px auto;
  max-width: 700px;
  border-radius: 5px;
}

.App .Toggle {
  margin-top: 5px;
  background: none;
  border: none;
}

.App h1 {
  font-size: 32px;
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
}

li {
  line-height: 1.2rem;
  list-style: none;
}

footer {
  font-family: monospace;
  font-size: 14px;
  position: relative;
  top: 30px;
  color: #6a6a6a;
}
