@media (max-width: 500px) {
  .Weather button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    width: 100%;
  }

  .Weather canvas {
    margin: 0 auto;
  }

  
}


.Weather {
    padding: 5px 30px 30px 30px;
  }
  
  .Weather .search-area {
    display: block;
    text-align: center;
    margin-top: 15px;
  }
  
  .Weather .search-input {
    padding: 8px;
    border: 1px solid #181818;
    border-radius: 4px;
    width: 50%;
  }
  
  .Weather button {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 4px;
  }

  .Weather .search-button {
    padding: 5px;
    font-size: 20px;
    font-family: 'FreightBig Pro', serif;
    background-color: #FF221C;
    color: #fff;
    border: 1px solid #181818;
  }

  .Weather .search-button:hover {
    background-color: #da211b;
    border: 1px solid #181818;
  }

  .Weather .current-location-button {
    padding: 5px;
    font-size: 20px;
    font-family: 'FreightBig Pro', serif;
    background-color: #173A2D;
    color: #fff;
    border: 1px solid #181818;
  }

  .Weather .current-location-button:hover {
    background-color: #122b22;
    border: 1px solid #181818;
  }

  .Weather li {
    font-size: 15px;
  }
  
  .Weather .City {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .Weather .Date {
    font-family: 'FreightBig Pro', serif;
    font-size: 15px;
  }
  
  .Weather .WeatherDescription {
    font-size: 15px;
    text-transform: capitalize;
  }
  
  .Weather .temperature {
    font-size: 60px;
  }
  
  .Weather .units {
    position: relative;
    top: -30px;
    font-size: 16px;
  }

  .Weather a {
    color: #d1908f;
    text-decoration: none;
  }

  .Weather a:hover {
    color: #c57e7d;
  }
  
  .Weather canvas {
    padding: 10px;
    text-align: center;
    display: block;
    filter: drop-shadow(2px 2px 2px #d1908f);
  }

  .Loader {
    margin-top: 5px;
    margin-left: 10px;
    color: #f0c9c4;
    font-size: 18px;
    
  }