.Weather {
    padding: 30px;
  }
  
  .Weather .search-area {
    display: block;
    text-align: center;
    margin-top: 30px;
  }
  
  .Weather .search-input {
    border: 1px solid #6c8990;
    border-radius: 4px;
    width: 50%;
  }
  
  .Weather button {
    border: 3px solid #6c8990;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 4px;
  }


  .Weather li {
    font-size: 14px;
    color: #b69d8a;
  }
  
  .Weather .City {
    color: #6c8990;
    font-size: 20px;;
    font-weight: bolder;
    margin-bottom: 10px;
  }

  .Weather .Date {
    font-size: 18px;
    color: #6c8990;
  }
  
  .Weather .WeatherDescription {
    font-size: 18px;
    color: #6c8990;
    text-transform: capitalize;
  }
  
  .Weather .temperature {
    color: #6c8990;
    font-size: 60px;
  }
  
  .Weather .units {
    color: #6c8990;
    position: relative;
    top: -30px;
    font-size: 16px;
  }

  .Weather a {
    color: #b69d8a;
    text-decoration: none;
  }

  .Weather a:hover {
    color: #ca8e6b;
  }
  
  .Weather canvas {
    padding: 10px;
    text-align: center;
    display: block;
    filter: drop-shadow(2px 2px 2px #b69d8a);
  }

  .Loader {
    margin-top: 5px;
    margin-left: 10px;
    color: #b69d8a;
    font-size: 18px;
    
  }